body {
  margin: 0;
  padding-top: 10%;
  height: 100vh;
  box-sizing: border-box;
  font-family: 'Marcellus', serif;
  /* background-image: linear-gradient(to bottom right, rgb(176, 181, 252), rgb(254, 254, 197)); */
  background-image: url(./images/backgroundBirds.jpg);
  background-size: 150% 100%;
  color: white;
}

header, header > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer > img {
  width: 75px;
  height: 75px;
  /* border-radius: 5px; */
  border-radius: 50%;
  border: 1px solid white;
  object-fit: cover;
  object-position: top;
}

header > div {
  margin: 8% 0 5% 0;
  width: 100%;
  overflow: hidden;
}

header p {
  margin: 0 0 12px 0;
}

header p:nth-child(2) {
  /* animation-name: banner;
  animation-duration: 15s;
  animation-iteration-count: infinite; */
  /* animation: banner 15s linear infinite; */
}

@keyframes banner {
  0% {transform: translateX(200%);}
  100% {transform: translateX(-200%);}
}

main {
  /* margin-top: 10%; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

main > a {
  margin: 2%;
  border: 1px solid white;
  width: 90%;
  text-decoration: none;
  /* color: black; */
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a > img {
  padding-right: 3%;
  height: 35px;
  object-fit: cover;
  box-sizing: border-box;
}

a > p {
  padding-left: 3%;
}

footer {
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 10px;
  /* color: rgb(90, 92, 120); */
  color: white;
}
