html {
  height: 100%;
}

body {
  margin: 0;
  padding-top: 10%;
  height: 100%;
  box-sizing: border-box;
  font-family: 'Marcellus', serif;
  background-image: url(./images/mountainSky.jpg);
  background-size: 100% 150%;
  color: white;
  overflow: hidden;
}

header, header > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header > img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: 1px solid white;
  object-fit: cover;
  object-position: top;
  animation: fade-in 1s ease;
}

header > div {
  margin: 8% 0 5% 0;
  width: 100%;
}

header p {
  margin: 0 0 12px 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: drop-fade-in3 1.5s ease;
}

main > a {
  margin: 2%;
  border: 1px solid white;
  width: 90%;
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a > img {
  padding-right: 3%;
  height: 35px;
  object-fit: cover;
  box-sizing: border-box;
}

a > p {
  padding-left: 3%;
}

footer {
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 10px;
  color: white;
  animation: hoist-up 2.5s ease;
}

/* ---------------------------- */
/* -------- Animations -------- */
/* ---------------------------- */

@media screen and (min-width: 768px) {

  /* ----- header animations ----- */
  header p:nth-child(1) {
    animation: drop-fade-in 1s ease;
  }

  header p:nth-child(2) {
    animation: drop-fade-in2 1s ease;
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes drop-fade-in {
    0% {
      opacity: 0;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
    }
    25% {
      opacity: 0;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
    }
    50% {
      opacity: 0;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
    }
    75% {
      opacity: 1;
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0);
    }
  }

  @keyframes drop-fade-in2 {
    0% {
      opacity: 0;
      -webkit-transform: translateY(-100%);
      -moz-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
      -o-transform: translateY(-100%);
      transform: translateY(-100%);
    }
    25% {
      opacity: 0;
      -webkit-transform: translateY(-100%);
      -moz-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
      -o-transform: translateY(-100%);
      transform: translateY(-100%);
    }
    75% {
      opacity: 0;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0);
    }
  }

  /* ----- main animation ----- */
  @keyframes drop-fade-in3 {
    0% {
      opacity: 0;
      -webkit-transform: translateY(-150%);
      -moz-transform: translateY(-150%);
      -ms-transform: translateY(-150%);
      -o-transform: translateY(-150%);
      transform: translateY(-150%);
    }
    25% {
      opacity: 0;
      -webkit-transform: translateY(-150%);
      -moz-transform: translateY(-150%);
      -ms-transform: translateY(-150%);
      -o-transform: translateY(-150%);
      transform: translateY(-150%);
    }
    75% {
      opacity: 0;
      -webkit-transform: translateY(-100%);
      -moz-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
      -o-transform: translateY(-100%);
      transform: translateY(-100%);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0);
    }
  }

  /* ----- footer animation ----- */
  @keyframes hoist-up {
    0% {
      opacity: 0;
      -webkit-transform: translateY(150%);
      -moz-transform: translateY(150%);
      -ms-transform: translateY(150%);
      -o-transform: translateY(150%);
      transform: translateY(150%);
    }
    50% {
      opacity: 0;
      -webkit-transform: translateY(-100%);
      -moz-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
      -o-transform: translateY(-100%);
      transform: translateY(100%);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0);
    }
  }
}